.sidebar {
  position: fixed;
  width: var(--sidebar-width);
  top: var(--pageHeader-height);
  bottom: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  border-right: solid 1px #dee2e6;
}

.sidebar:hover {
  overflow-y: scroll;
}

.group-page__sub-page-container {
  position: fixed;
  top: var(--pageHeader-height);
  overflow-y: scroll;
  bottom: 0;
  margin-left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
}
