@media only screen and (min-width: 780px) {
  .subpage-container {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .sidebar {
    position: absolute;
    overflow-y: auto;
  }

  .settle-up-subpage__sliders {
    margin-left: 20%;
    margin-right: 20%;
  }
}

.settle-up-subpage__sliders {
  margin-bottom: 5%;
}
