body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  min-width: 60%;
  min-height: 60%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --sidebar-width: 17%;
  --pageHeader-height: 10%;
}

.mainContainer {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 75vw;
  height: 85vh;
  border: solid 1px black;
}

.mainContainer__pageHeader {
  position: absolute;
  height: var(--pageHeader-height);
  width: 100%;
  border-bottom: solid 1px black;
}

.mainContainer__content {
  position: absolute;
  top: var(--pageHeader-height);
  bottom: 0;
  min-height: 100%;
  overflow: hidden;
}
