.search-box {
  position: relative;
}

.search-box__search-results {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.search-box__search-results-item:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}